<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>  Update Counter :  {{timer}}  </h1>
  <button (click)="test(1)">001</button> test 1<br>
  <button (click)="test(2)">002</button> test 2<br>
  <button (click)="test(3)">003</button> test 3<br>
  <button (click)="test(4)">004</button> test 4<br>
  <button (click)="test(5)">005</button> test 5<br>
  <button (click)="test(6)">006</button> test 6<br>
  <button (click)="test(7)">007</button> test 7<br>
  <button (click)="test(8)">008</button> test 8<br>
  <button (click)="test(9)">009</button> test 9<br>
  <button (click)="test(10)">010</button> test 10<br>
</div>

<div id='hoge'></div>
