<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>  Update Counter :  {{timer}}  </h1>
  <button (click)="test(1)">001</button> Let all text be red. Call alert when clicking any element.<a href='http://javascript-memo2.seesaa.net/article/454818913.html'>参考</a> <br>
  <button (click)="test(2)">002</button> Add a text enclosed by "div" element at the end of the component. <a href='https://alligator.io/angular/using-renderer2/'>参考</a><br>
  <button (click)="test(3)">003</button> Add a text by finding an element by an id.<br>
  <button (click)="test(4)">004</button> Delete an element that will be found by an id.<br>
  <button (click)="test(5)">005</button> Add a SVG<br>
  <button (click)="test(6)">006</button> Draw a SVG with moving by async.<br>
  <button (click)="test(7)">007</button> Add a canvas and draw a 2d graphic.<br>
  <button (click)="test(8)">008</button> Draw a circle.<br>
  <button (click)="test(9)">009</button> Draw many circles. <br>
  <button (click)="test(10)">010</button> Move blocks.<br>
</div>

<div id='hoge'></div>
