<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>  Update Counter :  {{timer}}  </h1>
  <button (click)="test(1)">001</button> コンポネント内要素を赤へ、クリックしたらアラート <a href='http://javascript-memo2.seesaa.net/article/454818913.html'>参考</a> <br>
  <button (click)="test(2)">002</button> コンポネント最後尾に div要素でテキスト追加 <a href='https://alligator.io/angular/using-renderer2/'>参考</a><br>
  <button (click)="test(3)">003</button> IDで検索した要素にテキスト追加<br>
  <button (click)="test(4)">004</button> IDで検索した要素を削除<br>
  <button (click)="test(5)">005</button> SVG追加表示<br>
  <button (click)="test(6)">006</button> 別同期ＳＶＧ移動描画<br>
  <button (click)="test(7)">007</button> Canvas追加と２Ｄ描画<br>
  <button (click)="test(8)">008</button> 丸を描く<br>
  <button (click)="test(9)">009</button> 複数の丸を描く<br>
  <button (click)="test(10)">010</button> ブロック移動<br>
</div>

<div id='hoge'></div>
